{% extends "base.html" %}

{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<section class="container-fluid bg-images section-one">
	<div class="row bg-images-overlay">
		<div class="col section-col">
			<div class="section-title-group">
				<h2 class="section-title">The Cube's Activities</h2>
				<h3 class="section-subtitle">GYM & Fitness Club</h3>
			</div>
		</div>
	</div>
</section>
<section class="container-fluid bg-images section-two ">

	<!-- part one -->
	<!-- <div class="row justify-content-center align-items-center content-first">
		<div class="col col-lg-6 align-self-center visual-block">
			<div class="section-content-group">
				<h2 class="title"></h2>
				<h3 class="subtitle"></h3>
				<p class="description"></p>
				<a   class="btn btn-outline-primary btn-lg" href="#">Shop Now</a>
			</div>
		</div>
		<div class="col col-lg-6 align-self-center info-block">
			<div class="section-content-group">
				<h2 class="title">The Cube Nutritions</h2>
				<h3 class="subtitle">Our Nutrition plans are here</h3>
				<p class="description"></p>
				<a class="btn btn-outline-primary btn-lg" href="{% url 'products' %}?category=nutrition_plan">Shop Now</a>
			</div>
		</div>
	</div> -->

	<!-- part two -->
	<div class="row justify-content-center align-items-center content-second">
		<div class="col col-lg-6 align-self-center info-block">
			<div class="section-content-group">
				<h2 class="title">The Cube Excercise</h2>
				<h3 class="subtitle">Our Excercise plans are here</h3>
				<p class="description"></p>
				<a class="btn btn-outline-primary btn-lg" href="{% url 'products' %}?category=exercise_plan">Shop
					Now</a>
			</div>
		</div>
		<div class="col col-lg-6 align-self-center visual-block">
			<div class="section-content-group">
				<h2 class="title"></h2>
				<h3 class="subtitle"></h3>
				<p class="description"></p>
			</div>
		</div>
	</div>

	<!-- part three -->
	<div class="row justify-content-center align-items-center content-third">
		<div class="col col-lg-6 align-self-center visual-block">
			<div class="section-content-group">
				<h2 class="title">The Cube Shoping</h2>
				<h3 class="subtitle"></h3>
				<p class="description"></p>
				<a class="btn btn-outline-primary btn-lg" href="#">Shop Now</a>
			</div>
		</div>
		<div class="col col-lg-6 align-self-center info-block">
			<div class="section-content-group">
				<h2 class="title">The Cube Merchandise</h2>
				<h3 class="subtitle">Our fancy merch's are here</h3>
				<p class="description"></p>
				<a class="btn btn-outline-primary btn-lg" href="{% url 'products' %}?category=activewear">Shop Now</a>
			</div>
		</div>
	</div>

</section>

{% include 'includes/section-three-shop.html' %}

{% endblock %}