{% extends "base.html" %}

{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<section class="container-fluid bg-images section-one activities-header-image">
	<div class="row bg-images-overlay">
		<div class="col section-col">
			<div class="section-title-group">
				<h2 class="section-title">The Cube's Activities</h2>
				<h3 class="section-subtitle">GYM & Fitness Club</h3>
			</div>
		</div>
	</div>
</section>
<section class="container-fluid bg-images section-two ">

	<!-- part one -->
	<div class="row justify-content-center align-items-center content-first">
		<div class="col col-lg-6 align-self-center visual-block activity-spin">
			<div class="section-content-group">
			</div>
		</div>
		<div class="col col-lg-6 align-self-center info-block">
			<div class="section-content-group">
				<h2 class="title">CUBE Spin HIIT</h2>
				<h3 class="subtitle">Activity</h3>
				<p class="description">This is a fast paced hard hitting quick metabolic hit. The Go HIIT 30 minute
					focuses on hitting your metabolic rate fast with mainly sprint based training. Go Spin 45 minutes
					will vary. Climbs and leg endurance based training as well as your metabolic conditioning. Super is
					just the ultimate test for the 60 minutes to push your body, endurance and metabolism beyond its
					abilities and create maximum change.</p>
			</div>
		</div>
	</div>

	<!-- part two -->
	<div class="row justify-content-center align-items-center content-second">
		<div class="col col-lg-6 align-self-center info-block">
			<div class="section-content-group">
				<h2 class="title">CUBE Move</h2>
				<h3 class="subtitle">Activity</h3>
				<p class="description">Pilates improves flexibility, core strength and develops control and endurance
					throughout the entire body. Combining Pilates, Yoga and Animal Flow, GO Move pushes your core to get
					stronger, improves mobility, fixes posture issues and helps flexibility.</p>
			</div>
		</div>
		<div class="col col-lg-6 align-self-center visual-block activity-move">
			<div class="section-content-group">
			</div>
		</div>
	</div>
	<!-- part three -->
	<div class="row justify-content-center align-items-center content-third">
		<div class="col col-lg-6 align-self-center visual-block activity-sweat">
			<div class="section-content-group">
			</div>
		</div>
		<div class="col col-lg-6 align-self-center info-block">
			<div class="section-content-group">
				<h2 class="title">CUBE Sweat</h2>
				<h3 class="subtitle">Activity</h3>
				<p class="description">A calorie burning 30-minute workout sure to get the heart racing. Go Sweat
					incorporates elements of cardio and resistance training to make sure you get a fully rounded workout
					to start your day right.</p>
			</div>
		</div>
	</div>

</section>

{% include 'includes/section-three-shop.html' %}

{% endblock %}