{% extends "base.html" %}

{% load static %}

{% block page_header %}
<div class="container header-container">
	<div class="row">
		<div class="col"></div>
	</div>
</div>
{% endblock %}

{% block content %}
<section class="container-fluid bg-images section-one coaches">
	<div class="row bg-images-overlay">
		<div class="col section-col">
			<div class="section-title-group">
				<h2 class="section-title">The Cube's Coaches</h2>
				<h3 class="section-subtitle">GYM & Fitness Club</h3>
			</div>
		</div>
	</div>
</section>
<section class="container-fluid bg-images section-two coaches-content">

	<!-- part one -->

	<!-- coaches new -->
	<div class="row justify-content-center bg-images-overlay align-items-center content-first for-coaches">
		<div class="card col-lg-3 col-md-6 col-sm-12 single-card-color">
			<div class="card-img-top">
				<img class="card-imgage" src="/media/Jason-Go-Gym-360x460.jpeg" alt="Card image cap">
			</div>
			<div class="card-body">
				<h2 class="card-title title">name</h2>
				<h3 class="subtitle">category</h3>
				<p class="card-text description">description</p>
				<p class="card-text contact">contact <span> 00000000</span></p>
				<a href="#" class="btn btn-primary btn-block">More Details</a>
			</div>
		</div>
	</div>

	<!-- part two -->

</section>

{% include 'includes/section-three.html' %}


{% endblock %}