{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}
<section class="container-fluid bg-images section-one section-login profile-image">
    <div class="row bg-images-overlay">
        <div class="col section-col">
            <div class="section-title-group">
                <h2 class="section-title">Profile</h2>
                <h3 class="section-subtitle"></h3>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid bg-images section-two content-shop">
    <div class="overlay"></div>

    <div class="container content-shop-inner">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">My Profile</h2>
                <hr>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-lg-10 text-center">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <a href="{% url 'add_product' %}" class="btn btn-primary btn-lg my-2">
                    <span class="icon mr-2">
                        <i class="far fa-address-card"></i>
                    </span>
                    <span class="text-uppercase">Add Product</span>
                </a>
                {% endif %}
                <a href="{% url 'account_logout' %}" class="btn btn-primary btn-lg my-2">
                    <span class="icon mr-2">
                        <i class="fas fa-home"></i>
                    </span>
                    <span class="text-uppercase">Log Out</span>
                </a>
                {% endif %}
                <a href="{% url 'home' %}" class="btn btn-primary btn-lg my-2">
                    <span class="icon mr-2">
                        <i class="fas fa-home"></i>
                    </span>
                    <span class="text-uppercase">Go to Homepage</span>
                </a>

            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-lg-4">
                <h4 class="text-muted">Default Delivery Information</h4>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary btn-lg text-uppercase float-right">Update Information</button>
                </form>
            </div>
            <div class="col-12 col-lg-8">
                <h4 class="text-muted">Order History</h4>
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                        {{ order.order_number|truncatechars:6 }}
                                    </a>
                                </td>
                                <td>{{ order.date }}</td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for item in order.lineitems.all %}
                                        <li class="small">
                                            {% if item.product.has_sizes %}
                                            Size {{ item.product.size|upper }}
                                            {% endif %}
                                            {{ item.product.name }} x{{ item.quantity }}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>&#x20AC; {{ order.grand_total }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</section>

{% include 'includes/section-three.html' %}

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}