<section class="container-fluid bg-images section-three section-last">
	<div class="row bg-images-overlay">
		<div class="col section-col">
			<div class="section-title-group">
				<h2 class="section-title">The Cube Activities</h2>
				<h3 class="section-subtitle">36 types of activities are available</h3>
				<p class="section-description"> plus a large body-building and cardio fitness room</p>
				<a class="btn btn-outline-primary btn-lg" href="{% url 'activities' %}">View Now</a>
			</div>
		</div>
	</div>
</section>