{% extends "base.html" %}

{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<section class="container-fluid bg-images section-one section-login">
  <div class="row bg-images-overlay">
    <div class="col section-col">
      <div class="section-title-group">
        <h2 class="section-title">{% trans "Sign In" %}</h2>
        <h3 class="section-subtitle">Welcome to The CUBE | GYM & Fitness Club</h3>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid bg-images section-four section-last">
  <div class="row bg-images-overlay">
    <div class="col section-col section-form">
      <div class="col-lg-6 col-md-8 col-sm-12 section-form-group">
        {% get_providers as socialaccount_providers %}

        {% if socialaccount_providers %}
        <p>{% blocktrans with site.name as site_name %}Please sign in with one
          of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
          for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

        <div class="socialaccount_ballot">

          <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          </ul>

          <div class="login-or">{% trans 'or' %}</div>

        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

        {% else %}
        <p class="description">{% blocktrans %}If you have not created an account yet, then please
          <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
        {% endif %}

        <h2 class="section-title">{% trans "Sign In" %}</h2>
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="row button-row-group">
            <a class="btn btn-outline-primary btn-lg" href="{% url 'home' %}">Home</a>
            <button class="primaryAction btn btn-outline-primary btn-lg" type="submit">{% trans "Sign In" %}</button>
          </div>
          <a class="button secondaryAction password-link"
            href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </form>
      </div>
    </div>
  </div>
</section>
{% include 'includes/section-three-shop.html' %}
{% endblock %}