{% extends "base.html" %}

{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<section class="container-fluid bg-images section-one section-login">
  <div class="row bg-images-overlay">
    <div class="col section-col">
      <div class="section-title-group">
        <h2 class="section-title">{% trans "Sign Out" %}</h2>
        <h3 class="section-subtitle">The CUBE | GYM & Fitness Club</h3>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid bg-images section-four section-last">
  <div class="row bg-images-overlay">
    <div class="col section-col section-form">
      <div class="col-lg-6 col-md-8 col-sm-12 section-form-group">

        <p class="description">{% trans 'Are you sure you want to sign out?' %}</p>

        <h2 class="section-title">{% trans "Sign Out" %}</h2>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-outline-primary btn-lg" type="submit">{% trans 'Sign Out' %}</button>
          <a class="btn btn-outline-primary btn-lg" href="{% url 'home' %}">Home</a>
        </form>
      </div>
    </div>
  </div>
</section>


{% endblock %}
{% include 'includes/section-three-shop.html' %}