{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section class="container-fluid bg-images section-one section-login">
    <div class="row bg-images-overlay">
        <div class="col section-col">
            <div class="section-title-group">
                <h2 class="section-title">
                    {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
                <h3 class="section-subtitle">Welcome to The CUBE | GYM & Fitness Club</h3>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid bg-images section-four">
    <div class="row bg-images-overlay section-form-container">
        <div class="col section-col section-form">
            <div class="col-lg-6 col-md-8 col-sm-12 section-form-group">
                <h2 class="section-title">
                    {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>

                {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <h2>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.
                    Please
                    request a <a class="btn btn-outline-primary btn-lg" href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</h2>
                {% else %}
                {% if form %}
                <form method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-outline-primary btn-lg" type="submit" name="action" value="{% trans 'change password' %}" />
                </form>
                {% else %}
                <h2>{% trans 'Your password is now changed.' %}</h2>
                {% endif %}
                {% endif %}

                <a class="btn btn-outline-primary btn-lg" href="{% url 'home' %}">Home</a>
            </div>
        </div>
    </div>
</section>
{% include 'includes/section-three-shop.html' %}
{% endblock %}