{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<section class="container-fluid bg-images section-one section-login">
    <div class="row bg-images-overlay">
        <div class="col section-col">
            <div class="section-title-group">
                <h2 class="section-title">{% trans "Set Password" %}</h2>
                <h3 class="section-subtitle">Welcome to The CUBE | GYM & Fitness Club</h3>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid bg-images section-two coaches-content">
    <div class="row justify-content-center bg-images-overlay align-items-center content-first for-coaches">
        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="action" value="{% trans 'Set Password' %}" />
        </form>
        <a class="btn btn-outline-primary btn-lg" href="{% url 'home' %}">Home</a>
    </div>
</section>
{% include 'includes/section-three-shop.html' %}
{% endblock %}