{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<section class="container-fluid bg-images section-one section-login">
    <div class="row bg-images-overlay">
        <div class="col section-col">
            <div class="section-title-group">
                <h2 class="section-title">
                    {% trans "Change Password" %}</h2>
                <h3 class="section-subtitle">Welcome to The CUBE | GYM & Fitness Club</h3>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid bg-images section-four">
    <div class="row bg-images-overlay section-form-container">
        <div class="col section-col section-form">
            <div class="col-lg-6 col-md-8 col-sm-12 section-form-group">
                <h2 class="section-title">
                    {% trans "Change Password" %}</h2>
                <h2>{% trans 'Your password is now changed.' %}</h2>

                <a class="btn btn-outline-primary btn-lg" href="{% url 'home' %}">Home</a>
            </div>
        </div>
    </div>
</section>

{% include 'includes/section-three-shop.html' %}

{% endblock %}