{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="container-fluid bg-images section-one section-login section-single-employee">
    <div class="row bg-images-overlay">
        <div class="col section-col">
            <div class="section-title-group">
                <h2 class="section-title">{{ employee.name }}</h2>
                <h3 class="section-subtitle">At GYM & Fitness Club</h3>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid bg-images section-two content-shop">
    <div class="row justify-content-center align-items-center content-first">
        <div class="col col-lg-6 align-self-center visual-block">
            {% if employee.image %}
            <a class="single-employee-image" href="{{ employee.image.url }}" target="_blank">
                <img class="card-img-top employee img-fluid" src="{{ employee.image.url }}" alt="{{ employee.name }}">
            </a>
            {% else %}
            <a class="single-employee-image" href="">
                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ employee.name }}">
            </a>
            {% endif %}
        </div>
        <div class="col col-lg-6 align-self-center info-block">
            <div class="section-content-group">
                <h2 class="title">{{ employee.name }}</h2>

                {% if employee.start_date %}
                <h3 class="subitle">With us from {{ employee.start_date }}</h3>
                {% endif %}
                {% if employee.role %}
                <h3 class="subtitle text-info">
                    <i class="fas fa-barcode"></i> {{ employee.role.friendly_name }} <i class="fas fa-barcode"></i>
                </h3>
                {% endif %}

                <div class="main-info-text">
                    {% if employee.qualifications %}
                    <p class="description"><strong class="text-info">Qualifications: </strong>
                        {{ employee.qualifications }}</p>
                    {% endif %}
                    {% if employee.description %}
                    <p class="description"><strong class="text-info">Description: </strong> {{ employee.description }}
                    </p>
                    {% endif %}
                    {% if employee.interests %}
                    <p class="description"><strong class="text-info">Interests: </strong> {{ employee.interests }}</p>
                    {% endif %}
                    {% if employee.more %}
                    <p class="description"><strong class="text-info">Good to know: </strong> {{ employee.more }}</p>
                    {% endif %}
                </div>

                <a class="btn btn-outline-primary btn-lg" href="{% url 'employees' %}">All Employees</a>
            </div>
        </div>
    </div>
</section>

{% include 'includes/section-three.html' %}

{% endblock %}