{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<section class="container-fluid bg-images section-one section-login section-shop">
    <div class="row bg-images-overlay">
        <div class="col section-col">
            <div class="section-title-group">
                <h2 class="section-title">The CUBE shopping</h2>
                <h3 class="section-subtitle">{{ product.category.friendly_name }}</h3>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid bg-images section-two content-shop">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-lg-8 my-auto py-1 py-lg-0">
            <form class="search-form" method="GET" action="{% url 'products' %}">
                <div class="input-group w-100">
                    <input class="form-control border rounded-0" type="text" name="q"
                        placeholder="Search our merch and nutritions">
                    <div class="input-group-append">
                        <button class="form-control btn btn-primary btn-lg" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-1 mb-2">
        <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
            <div class="sort-select-wrapper w-50">
                <select id="sort-selector"
                    class="custom-select custom-select-sm rounded-0 border-0 border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to
                        high)</option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high
                        to low)</option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)
                    </option>
                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)
                    </option>
                    <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category
                        (A-Z)</option>
                    <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>
                        Category (Z-A)</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-md-6 order-md-first">
            <p class="text-muted mt-3 text-center text-md-left">
                {% if search_term or current_categories or current_sorting != 'None_None' %}
                <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                {% endif %}
                {{ products|length }} Products{% if search_term %} found for
                <strong>"{{ search_term }}"</strong>{% endif %}
            </p>
        </div>
    </div>
    <!-- part one -->
    <div class="row justify-content-center align-items-center">
        {% for product in products %}
        <div class="card col-lg-3 col-md-6 col-sm-12 product-card-single">
            <!-- <img class="card-img-top" src="/media/clothes-001.jpg" alt="Card image cap"> -->
            <div class="card-image-top-full">
                {% if product.image %}
                <a class="card-image-large" href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top-updated img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
            <div class="card-body">
                <h2 class="card-title title">{{ product.name }}</h2>
                {% if product.category %}
                <h3 class="subtitle">
                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                        <i class="fas fa-barcode"></i> {{ product.category.friendly_name }}
                    </a>
                </h3>
                {% endif %}
                <p class="card-text price">&#x20AC; {{ product.price }}</p>
                {% if request.user.is_superuser %}
                <div class="edit-delete-butons">
                    <div class="ml-12">
                        <a class="text-edit" href="{% url 'edit_product' product.id %}">Edit</a> |
                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                    </div>
                </div>
                {% endif %}
                <a href="{% url 'product_detail' product.id %}" class="btn btn-primary btn-block card-btn-single">More
                    Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% include 'includes/section-three.html' %}

{% endblock %}
{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    });
</script>
{% endblock %}